gsoap/generate/lacuisine.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions
    name="clientService"

    xmlns="http://schemas.xmlsoap.org/wsdl/"

    targetNamespace="http://truetechsystems.com.br/lacuisine/hmi/v1/"

    xmlns:tns="http://truetechsystems.com.br/lacuisine/hmi/v1/"

    xmlns:cmn="http://truetechsystems.com.br/lacuisine/common/v1/"

    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">

    <types>
        <xs:schema
            xmlns:xs="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://truetechsystems.com.br/lacuisine/hmi/v1/"
            xmlns:tns="http://truetechsystems.com.br/lacuisine/hmi/v1/"
            elementFormDefault="unqualified">
            
            <xs:import namespace="http://truetechsystems.com.br/lacuisine/common/v1/" schemaLocation="common.xsd"/>

            <!-- AccessAuthentication -->
            <xs:element name="AccessAuthenticationRequest" type="tns:AccessAuthenticationRequestType" />
            <xs:complexType name="AccessAuthenticationRequestType">
                <xs:annotation>
                    <xs:documentation>
                       Allows a Lacusine product stablish connection with server
                    </xs:documentation>
                </xs:annotation> 
                <xs:sequence>
                    <xs:element name="AuthRequest" type="cmn:AuthenticationType" />
                </xs:sequence>
            </xs:complexType>

            <xs:element name="AccessAuthenticationResponse" type="tns:AccessAuthenticationResponseType" />
            <xs:complexType name="AccessAuthenticationResponseType">
                <xs:annotation>
                    <xs:documentation>
                       Confirms that the client has been authenticated
                    </xs:documentation>
                </xs:annotation> 
                <xs:sequence>
                    <xs:element name="response" type="xs:boolean" />
                    <xs:element name="success" type="xs:boolean" />
                </xs:sequence>
            </xs:complexType>
            
        </xs:schema>
    </types>

    <!-- messages -->
    
     <!-- AccessAuthentication -->
    <message name="AccessAuthenticationIn">
        <part name="parameters" element="tns:AccessAuthenticationRequest" />
    </message>
    <message name="AccessAuthenticationOut">
        <part name="parameters" element="tns:AccessAuthenticationResponse" />
    </message>
 
    <!-- portType -->
    
     <portType name="clientServiceInterface">
        <operation name="AccessAuthentication">
            <input message="tns:AccessAuthenticationIn" />
            <output message="tns:AccessAuthenticationOut" />
        </operation>
    </portType>
    
    <!-- binding -->
    
      <binding name="LacuisineBinding" type="tns:clientServiceInterface">
        <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <operation name="AccessAuthentication">
            <soap12:operation soapAction="tns:AccessAuthentication" style="document" />
            <input>
                <soap12:body use="literal" />
            </input>
            <output>
                <soap12:body use="literal" />
            </output>
        </operation>
    </binding>


    <binding name="LacuisineBinding" type="tns:clientServiceInterface">
        <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        
    </binding>
    
    <!-- service -->
    
    <service name="clientService">
        <port name="clientServiceInterface" binding="tns:LacuisineBinding">
            <soap12:address location="http://localhost:9090/zzz"/>
        </port>
    </service>
    
</definitions>
